.portfolio-block {
  display:flex;
  align-items: center;
  padding: 100px 0;
  border-top: 1px solid #67AAF9;
  opacity: 0.1;
}

.portfolio-img {
  width: 100%;
  object-fit: cover;
}

.portfolio-img-link {
  width: 55%;
}

.portfolio-desc {
  width: 45%;
}

.portfolio-desc p {
  text-align: justify;
}


@media(max-width: 600px) {
  .portfolio-block {
    flex-direction: column;
    padding: 50px 0;
    text-align: center;
    h2 {
      margin-top: 0;
    }
  }

  .portfolio-img  {
    width: 100%;
  }

  .portfolio-desc {
    width: 90%;
    margin: 20px 0;
  }
}
